* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif, 'Baloo Bhaijaan 2', cursive;
}

/* hero section start */
.bg-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media(min-aspect-ratio:16/9){
    .bg-video{
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio:16/9){
    .bg-video{
        width: auto;
        height: 100%;
    }
}
/* hero section end */
/* home section start */
.home {
    width: 100%;
    height: 90vh;
}

.home .content {
    text-align: center;
    padding-top: 200px;
}

.home .content h1 {
    color: white;
    font-size: 70px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
    margin-top: 5px;
}

.home h1 span {
    color: #760860;
    transition: 0.5s;
}

.home h1 span:hover {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}

.home .content button {
    width: 160px;
    height: 45px;
    color: white;
    border-radius: 30px;
}

.home .content button:hover {
    width: 170px;
    background: rgba(255, 255, 0, 0.444);
}

/* home section end */
/* order section start */
.order {
    background: #f9f9f9;
    padding: 50px;
}

.main-text h1 {
    text-align: center;
    text-shadow: 0px 1px 1px black;
    font-weight: 600;
}

.main-text h1 span {
    color: #0bac19;
}

.order .card {
    border-radius: 10px;
    box-shadow: 0px 5px 5px -6px black;
}

.order .row {
    margin-top: 30px;
}

.order form input {
    padding: 10px;
    color: black;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px -6px black;
}

.order form textarea {
    border: none;
    border-radius: 10px;
    resize: none;
    box-shadow: 0px 5px 5px -6px black;
    height: 200px;

}

.order .submit {
    width: 160px;
    font-size: 16px;
    font-weight: 550px;
    background: #0bac19;
    color: white;
    margin-top: 10px;
    transition: 0.5s;
}

.order .submit:hover {
    width: 170px;
}


/* order section end */
/* menu section start */
.main-menu .card {
    box-shadow: 2px 4px 16px black;

}
/* menu section end */
/* menu theme section start */
.menu-theme {
    border-radius: 30px;
    box-shadow: 2px 4px 17px black;
    background: linear-gradient(rgb(138, 132, 120), rgb(227, 128, 22), rgb(138, 132, 120));
}

.menu-theme h1 {
    color: silver;
    font-weight: 600;
}

.menu-theme span {
    color: yellowgreen;
}

.menu-theme h4 {
    font-weight: bold;
    background-color: white;
    box-shadow: 2px 6px 12px black;
}

.menu-theme p {
    color: skyblue;
    text-shadow: 2px 4px 12px black;
    font-family: cursive;
}

/* menu theme section end */
/* delivery section start */
.delivery {
    background: url(./image/delivery.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(2px);

}
.delivery h1 {
    color: white;
    font-size: 70px;
}
/* delivery section end */
/* special deals section start */
.carousel-inner {
    height: 450px;
    width: 100%;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 4px 6px 21px black;
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: contrast(10px);
}

.special-deals .container span {
    color: #0bac19;
}

/*special deals section end */

/* Menu page start */

/* main section start */
.menu img {
    width: 330px;
    height: 160px;
    border-radius: 30%;
    box-shadow: 2px 4px 12px black;
    border: 3px solid silver;
}
/* menu page end */

/* contact us section start */
.contact-us {
    margin: 60px;
}

.container .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .content .left-side {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}

.content .left-side::before {
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
}

.content .left-side .details {
    margin: 14px;
    text-align: center;
}

.content .left-side .details i {
    font-size: 30px;
    color: #3e2093;
    margin-bottom: 10px;
}

.content .left-side .details .topic {
    font-size: 18px;
    font-weight: 500;
}

.content .left-side .details .text-one,
.content .left-side .details .text-two {
    font-size: 14px;
    color: #afafb6;
}

.container .content .right-side {
    width: 75%;
    margin-left: 75px;
}

.content .right-side .topic-text {
    font-size: 23px;
    font-weight: 600;
    color: #3e2093;
}

.right-side .input-box {
    height: 50px;
    width: 100%;
    margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
}

.right-side .message-box {
    min-height: 110px;
}

.right-side .input-box textarea {
    padding-top: 6px;
}

.right-side .button {
    display: inline-block;
    margin-top: 12px;
}

.right-side .button input[type="button"] {
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: #3e2093;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input[type="button"]:hover {
    background: #5029bc;
}
/* contact us section end */
